.SingleDatePicker {
  width: 100%;
  .SingleDatePickerInput {
    width: 100%;
  }

  .DateInput {
    width: 100%;
  }

  .DateInput_input__focused {
    border-bottom: none;
  }

  .SingleDatePickerInput__withBorder {
    border-radius: 8px;
    // border: none;
  }

  input {
    padding-left: 8px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    color: #5e6278;
    background-color: #f5f8fa;
  }
}

.dateSingle {
  //   border: 1px solid #ddd;
  //   border-radius:

  &__monthText {
    font-size: 19px;
    font-weight: 800;
  }

  .dayContents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 14px;
    font-weight: bold;

    &__price {
      font-size: 9px;
      font-weight: 700;
    }
  }
}
