//
// Shadow
//

.shadow-xs {
    box-shadow: $box-shadow-xs;
}
.shadow-xs {
    box-shadow: $box-shadow-xs !important;
}
.shadow-sm {
    box-shadow: $box-shadow-sm !important;
}
.shadow-md {
    box-shadow: $box-shadow !important;
}
.shadow-lg {
    box-shadow: $box-shadow-lg !important;
}
